.dark_mode .game_header {
	background-color: #2f3136;
}
.dark_mode .game_header .main_header a.game_logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='97' height='34' fill='none' viewBox='0 0 97 34'%3E%3Cpath fill='%23D81719' fill-rule='evenodd' d='M5.362 22.816v6.854H0V7.672h10.36c1.971 0 3.862.78 5.256 2.168 1.394 1.388 2.178 3.27 2.178 5.234 0 1.963-.784 3.846-2.178 5.234-1.07 1.065-2.431 1.772-3.897 2.044l5.585 7.405h-6.706l-5.236-6.94zm4.997-5.679H5.362v-4.126h4.997c.55 0 1.077.218 1.465.604.389.387.607.912.607 1.46 0 .546-.218 1.07-.607 1.458-.388.387-.915.604-1.465.604zm9.385 5.34v7.193h5.362v-7.194h4.997c1.971 0 3.862-.78 5.257-2.168 1.394-1.388 2.177-3.27 2.177-5.234 0-1.963-.783-3.846-2.177-5.234-1.395-1.388-3.285-2.168-5.257-2.168h-10.36v14.804zm10.359-5.34h-4.997v-4.126h4.997c.55 0 1.076.218 1.465.604.388.387.607.912.607 1.46 0 .546-.219 1.07-.607 1.458-.389.387-.916.604-1.465.604zM39.12 30h11.456c1.843 0 3.61-.729 4.913-2.026 1.302-1.297 2.034-3.056 2.034-4.89 0-1.835-.732-3.595-2.035-4.892-1.302-1.297-3.07-2.026-4.912-2.026h-4.63c-.421 0-.824-.166-1.121-.462-.297-.296-.464-.697-.464-1.115 0-.419.167-.82.464-1.116.297-.296.7-.462 1.12-.462h11.456v-5.34H45.946c-1.842 0-3.61.73-4.912 2.027-1.303 1.297-2.035 3.056-2.035 4.89 0 1.835.732 3.595 2.035 4.892 1.303 1.297 3.07 2.026 4.912 2.026h4.631c.42 0 .824.166 1.12.462.298.296.465.697.465 1.115 0 .419-.167.82-.464 1.116-.297.295-.7.462-1.12.462H39.12V30z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M70.148 26.175c0 2.039-1.655 3.449-3.72 3.449h-5.067V17.732h4.709c2.013 0 3.634 1.359 3.634 3.346.011.457-.085.91-.28 1.323-.196.413-.486.776-.846 1.058.487.266.89.66 1.167 1.14.277.478.416 1.024.403 1.576zm-6.433-6.254v2.619h2.355c.339-.015.66-.16.894-.403.235-.244.366-.57.366-.907 0-.338-.131-.663-.366-.906-.235-.244-.555-.389-.894-.403h-2.355zm4.095 6.101c.007-.183-.024-.366-.09-.537-.068-.17-.169-.326-.298-.457-.13-.13-.285-.233-.456-.301-.17-.07-.353-.102-.538-.098h-2.713v2.803h2.713c.186.004.37-.03.542-.1.172-.07.328-.173.457-.306.13-.132.23-.29.297-.462.066-.173.095-.357.086-.542zm8.174 1.852c.362.014.723-.055 1.055-.203.33-.147.624-.368.855-.646l1.775 1.019c-.802 1.155-2.082 1.818-3.72 1.818-2.866 0-4.675-1.954-4.675-4.485 0-2.532 1.826-4.488 4.505-4.488 2.525 0 4.317 1.99 4.317 4.488-.002.302-.03.603-.086.9h-6.432c.307 1.121 1.253 1.597 2.406 1.597zm1.91-3.296c-.083-.493-.344-.938-.733-1.254-.39-.316-.88-.48-1.382-.462-1.177 0-1.98.629-2.235 1.716h4.35zm6.443 2.192v-3.534h1.92v-2.109H84.33v-2.378l-2.193.662v1.716H80.65v2.109h1.485v3.534c0 2.293 1.04 3.194 4.129 2.854v-1.988c-1.263.068-1.928.051-1.928-.866z' clip-rule='evenodd'/%3E%3Cpath fill='%23D81719' d='M85.391 2.703L78.33.06c-.233-.087-.49-.077-.717.027-.226.104-.401.293-.488.527l-2.21 5.934c-.938 2.508-1.154 4.684-.649 6.526.505 1.842 1.813 3.79 3.924 5.845l3.255-2.908c-1.282-1.317-2.086-2.45-2.411-3.397-.326-.953-.339-1.985-.037-2.946l3.34 1.25c.233.086.49.076.717-.027.226-.104.401-.294.488-.528l2.4-6.45c.087-.233.077-.492-.026-.718-.103-.227-.291-.403-.524-.49z'/%3E%3Cpath fill='%23FFB000' d='M86.723 10.589l7.35-1.605c.12-.027.246-.03.367-.01.122.02.238.063.343.126.104.063.195.146.266.242.071.097.122.206.15.322l1.406 5.905c.593 2.498.519 4.587-.223 6.27-.742 1.681-2.297 3.363-4.665 5.045l-2.845-3.172c1.447-1.084 2.394-2.054 2.841-2.91.452-.862.604-1.84.434-2.79l-3.474.76c-.242.053-.497.011-.708-.116-.211-.127-.36-.33-.416-.562l-1.525-6.426c-.056-.232-.013-.475.118-.677.13-.203.34-.347.58-.402z'/%3E%3C/svg%3E%0A");
}
.dark_mode .game_header .main_header .header_action_panel button.profile-menu {
	color: #8e9297;
}
.dark_mode .contents_wrapper {
	background-color: #202225;
}
.dark_mode .main-game h2.main-title {
	color: white;
}
.dark_mode .contents_wrapper .main-game .sub-panel {
	background-color: rgba(47, 49, 54, 0.2);
}
.dark_mode .main-game .main-game-page-tabs {
	color: #8e9297;
	border-bottom: 1px solid rgba(47, 49, 54, 1);
}
.dark_mode .main-game .main-game-page-tabs .Mui-selected {
	background-color: rgba(47, 49, 54, 0.5);
	color: white;
}
.dark_mode div.table .table-row {
	background: rgba(47, 49, 54, 0.5);
	color: #8e9297;
}
.dark_mode div.table .table-row .table-cell img.game-type-icon {
	background-color: rgba(84, 84, 84, 0.4);
}
.dark_mode .table-cell.cell-room-info .cell-game-type,
.dark_mode div.table.my-open-game-table .table-row .table-cell.room-id {
	color: white;
}
.dark_mode .main_table_pagination button.btn_main_table_page_number {
	background-color: rgba(47, 49, 54, 0.5);
	color: white;
}
.dark_mode .table_title_with_search {
	color: #b9bbbe;
}
.dark_mode .search_panel {
	background: rgba(47, 49, 54, 1);
	border-color: rgba(47, 49, 54, 0.5);
}
.dark_mode .search_panel input.search_text {
	background: rgba(47, 49, 54, 0.5);
}
.dark_mode .create-game-panel .btn-create-game .game-type-icon {
	background-color: rgba(47, 49, 54, 0.5);
}
.dark_mode .create-game-panel .btn-create-game:hover .game-type-name {
	color: white;
}
.dark_mode #game_logs {
	background: rgba(0, 0, 0, 0.5);
}
.dark_mode #game_logs .game_logs_contents {
	background: #2f3136;
}
.dark_mode #game_logs .game_logs_contents h2 {
	color: white;
}
.dark_mode #game_logs .game_logs_contents table td.fromNow {
	color: #8e9297;
}
.dark_mode #game_logs .arrow-up {
	border-bottom: 10px solid #2f3136;
}
@media (max-width: 768px) {
    .dark_mode .game_header .main_header a.game_logo {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='23' fill='none' viewBox='0 0 64 23'%3E%3Cpath fill='%23D81719' fill-rule='evenodd' d='M4.037 15.28v4.397H.634V5.562h6.573c1.251 0 2.45.5 3.335 1.39.885.891 1.382 2.1 1.382 3.36 0 1.259-.497 2.467-1.382 3.358-.678.683-1.542 1.137-2.472 1.31l3.543 4.753H7.36l-3.322-4.454zm3.17-3.645h-3.17V8.988h3.17c.349 0 .683.139.93.387.246.248.385.585.385.936 0 .351-.139.688-.385.936-.247.248-.581.388-.93.388zm9.357 3.426h3.17c1.25 0 2.45-.5 3.335-1.391.885-.891 1.382-2.1 1.382-3.359 0-1.26-.497-2.468-1.382-3.358-.884-.891-2.084-1.391-3.335-1.391H13.16V19.677h3.403V15.06zm3.17-3.426h-3.17V8.988h3.17c.349 0 .683.139.93.387.246.248.384.585.384.936 0 .351-.138.688-.384.936-.247.248-.581.388-.93.388zm5.722 8.254h7.269c1.169 0 2.29-.468 3.116-1.3.827-.833 1.291-1.962 1.291-3.139 0-1.177-.464-2.306-1.29-3.138-.827-.832-1.948-1.3-3.117-1.3h-2.939c-.266 0-.522-.107-.71-.296-.189-.19-.295-.448-.295-.716 0-.269.106-.526.295-.716.188-.19.444-.296.71-.296h7.269V5.562h-7.269c-1.169 0-2.29.467-3.116 1.3-.827.832-1.291 1.96-1.291 3.138 0 1.177.464 2.306 1.29 3.138.827.832 1.948 1.3 3.117 1.3h2.939c.266 0 .522.107.71.296.19.19.295.448.295.716 0 .269-.106.526-.294.716-.189.19-.445.296-.711.296h-7.269v3.427z' clip-rule='evenodd'/%3E%3Cpath fill='%23FFFFFF' fill-rule='evenodd' d='M45.142 17.434c0 1.308-1.05 2.213-2.36 2.213h-3.216v-7.63h2.988c1.278 0 2.306.871 2.306 2.147.007.293-.054.583-.178.849-.124.265-.308.497-.536.678.308.171.565.424.74.731.176.308.264.658.256 1.012zm-4.082-4.013v1.68h1.494c.215-.009.419-.102.567-.258.15-.157.232-.365.232-.582 0-.217-.083-.425-.232-.581-.148-.157-.352-.25-.567-.259H41.06zm2.598 3.915c.005-.118-.015-.235-.057-.345-.043-.11-.107-.209-.19-.293-.081-.083-.18-.15-.288-.193-.108-.044-.224-.066-.341-.063H41.06v1.799h1.722c.117.003.234-.02.343-.064.11-.045.208-.112.29-.197.083-.085.147-.186.188-.296.042-.111.061-.23.055-.348zm5.186 1.188c.23.01.46-.035.67-.13.21-.094.396-.236.543-.415l1.125.654c-.508.742-1.32 1.167-2.36 1.167-1.818 0-2.966-1.254-2.966-2.878 0-1.625 1.159-2.88 2.858-2.88 1.602 0 2.74 1.277 2.74 2.88-.002.194-.02.387-.055.578h-4.081c.195.719.795 1.024 1.526 1.024zm1.213-2.115c-.053-.316-.219-.602-.466-.804-.247-.203-.558-.308-.877-.297-.747 0-1.255.404-1.418 1.101h2.76zm4.087 1.407v-2.268h1.219v-1.353H54.14v-1.526l-1.392.425v1.101h-.942v1.353h.942v2.268c0 1.471.66 2.049 2.62 1.831v-1.275c-.802.043-1.224.032-1.224-.556z' clip-rule='evenodd'/%3E%3Cpath fill='%23D81719' d='M54.813 2.373L50.334.677c-.148-.056-.312-.05-.455.017-.143.067-.255.188-.31.338L48.166 4.84c-.595 1.61-.732 3.005-.412 4.187.32 1.182 1.15 2.433 2.49 3.75l2.065-1.865c-.813-.845-1.323-1.572-1.53-2.18-.207-.611-.215-1.274-.023-1.89l2.119.801c.148.056.311.05.455-.017.143-.066.255-.188.31-.338l1.523-4.139c.054-.15.048-.315-.017-.46-.066-.146-.185-.26-.333-.316z'/%3E%3Cpath fill='%23FFB000' d='M55.658 7.433l4.664-1.03c.076-.017.156-.019.233-.006.077.013.15.04.217.081.067.04.124.093.17.155.044.063.077.133.094.207l.892 3.789c.377 1.602.33 2.943-.141 4.023-.471 1.079-1.458 2.158-2.96 3.237l-1.805-2.035c.918-.695 1.519-1.318 1.803-1.868.286-.552.383-1.18.275-1.79l-2.204.488c-.154.034-.316.007-.45-.074-.133-.082-.228-.212-.264-.361l-.967-4.123c-.035-.149-.009-.305.075-.435.083-.13.215-.222.368-.258z'/%3E%3C/svg%3E%0A");
	}
	.dark_mode div.main-page-nav-button-group button {
		color: white;
		background-color: #252628;
		border-top-color: #252628;
	}
	.dark_mode div.main-page-nav-button-group button:hover,
	.dark_mode div.main-page-nav-button-group button.active {
		background-color: #202225;
		color: white;
	}
}