@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: "Prototype";
  src: url("/fonts/prototype-webfont.woff") format("woff");
}

#root {
  background-color: #2b2b2b;
}

svg {
    font-size: 1.3em;
}

.row {
  margin: 0;
}
input,textarea { border-radius: 0 !important; }

/** INFO **/
.single_update {
    color: #fff;
    padding: 20px 20px 10px 40px;
    font-weight: 500;
}
.single_update h4 {
  font-weight: 600;
    color: #28c739;
}
.single_update:nth-child(odd) {
  background: #495057;
}
.single_update:nth-child(even) {
  background: #5653df;
}

.marginBottom {
  margin-bottom: 30px;
}

/*******/

.nada {
  color: rgb(139, 138, 231);
  color: #5654df;
  color: #3b39ac;

  color: #39fae0;
  color: #13d7bc;
  color: #01a790;

  color: #202020;
  color: #7574c03b;
}

.btn:hover, .btn:focus, .btn.focus { transform: scale(1.05); transition: 0.3s; }

#root .site_wrapper {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.copyright {
  color: white;
  font-size: 1em;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  z-index: 1000;
  background-color: #495057;
}

.disclaimer p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;
  background: #00000099;
  padding: 10px;
  /* height: 50px; */
  overflow-y: scroll;
  border-bottom-left-radius: 10% 50%;
}

.disclaimer p span { color: #c73128; font-weight: 600; }
#root .site_wrapper .login_wrapper {
  height: 100vh;
  display: flex;
  align-content: center;
  padding-bottom: 5%;
  overflow-y: scroll !important;
}
.login_wrapper::-webkit-scrollbar {
    display: none;
}

.login_container {
  box-shadow: inset 10px 10px 4px 0px #eceff1;
  padding: 20px 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

#root .site_wrapper .login_wrapper .login_form {
  text-align: center;
  /* background-image: url(/img/rps_characters.png); */
  background-size: 120%;
  background-position: 40% 45%;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
  font-size: 20px;
  font-weight: 700;
  padding: 25px;
  min-height: 600px;
  color: #f8f9fa;
  width: 40%;
  min-width: 700px;
  max-width: 97% !important;
  margin: 10px auto;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(92,92,92,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(92,92,92,1);
  box-shadow: 10px 10px 10px 5px #adb5bd;
  border-right: 10px solid #eceff1;
  border-bottom: 10px solid #dee2e6;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.login_form label {
  color: #666;
  padding: 0 5px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.login_form .form-control {
  background-color: #fffc;
  color: #333;
}

.login_form input[type=text], .login_form input.form-control,
.login_form input[type=password]{
  font-size: 20px;
  height: 50px;
  padding: 5px 15px;
  box-shadow: inset 10px 10px 4px 0px #eceff1;
  border: none;
}

.login_form input[type=checkbox] {
  /* Double-sized Checkboxes */
  transform: scale(2);
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 10px;
}

.login_form img.logo{
  height: 50px;
    transform: scale(1.5);
    margin: 10px auto;
}

.login_form .btn {
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 100px;
  height: initial;
}

.btn-info {
    color: #fff;
    background-color: #c73128 !important;
    border: none;
    box-shadow: 2px 4px 0px 2px #a2332b;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  transform: unset;
  transform: translateY(2.5px);
  box-shadow: 1px 2px 0px 1px #a2332b;
}

.login_form #btn_signup:hover, .login_form #btn_signup:focus, .login_form #btn_signup:active {
  transform: unset;
  transform: translateY(2.5px);
    box-shadow: 1px 2px 0px 1px #dadada;
}

/*
.btn-info:hover, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #f5b22d;
}
*/
.MuiPaper-root {
    color: white;
    background-color: #5653df;
}

.login_form #btn_signup,
.login_form #btn_goback {
  background-color: white;
  color: #3339;
  margin: 10px auto;
  text-align: center;
  text-decoration: initial;
  box-shadow: 2px 4px 0px 2px #dadada;
}

.login_form #resetpwd {
  color: #333;
  margin: auto;
  text-shadow: 1px 1px 1px #AAAAAA;
}

#howto-modal {
  width: 100%;
}

div[aria-label="How To Play Modal"] th {
  color: #343a40;
  border-bottom: 5px solid #fff !important;
  padding: 5px 20px;
  margin: 20px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

div[aria-label="How To Play Modal"] td {
  border: 1px solid #fff;
  padding: 5px 15px;
  text-align: center;
}
div[aria-label="How To Play Modal"] ul {
  margin-left: 1rem;
  margin-bottom: 0;
}

#game_footer_howto {
  text-align: center;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#game_footer_howto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.gamemode {
    color: #C83228;
    border: none !important;
}

.profile_info_panel_image_wrapper {
  padding: 10px;
  text-align: center;
}

.profile_info_panel_image_wrapper img {
  width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100px;
    border: 12px solid #f6b229;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(92,92,92,.4);
    -moz-box-shadow: 0px 0px 10px 4px rgba(92,92,92,.4);
    box-shadow: 0px 0px 10px 4px rgba(92,92,92,.4);
}

.profile_info_panel,
.modal_action_panel {
  display: grid;
  grid-template-columns: auto auto;
}

.modal_action_panel button, .payment_action_panel button {
  font-weight: 600 !important;
  border-radius: 30px !important;
  background: #5654df !important;
}

.alert_panel {
  display: flex;
}

.alert_panel .alert_image_wrapper {
  width: 100px;
}

.alert_panel .alert_message_panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 10px;
  height: 150px;
}

.alert_panel img {
  width: 100%;
}

.alert_panel button {
  font-weight: 600 !important;
  border-radius: 30px !important;
  background: #5654df !important;
  width: 100px;
}

.profile_info_panel {
  background: #333;
  box-shadow: -10px 0px 10px 0px #aaa;
  padding: 20px;
}

.profile_info_panel span:nth-child(odd),.profile_info_panel label {
  background-color: #fff;
  color: #333;
  font-weight: 600;
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 0;
}

.profile_info_panel span.radio_panel {
  background-color: white !important;
  box-shadow: none !important;
  text-align: center;
  display: flex;
  align-items: center;
}

.profile_info_panel span.radio_panel input[type="radio"], .profile_info_panel span.radio_panel label {
  margin: 0;
  padding: 0 10px;
  background: white;
}

.profile_info_panel span:nth-child(even),.profile_info_panel input {
  text-align: center;
    background: #C83228;
    box-shadow: -5px 0px 8px 0px #aaa;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
}
.modal_action_panel {
  padding-top: 20px;
  margin-top: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

div.table .table-row .table-cell img.game-type-icon {
  padding: 6px;
}

.game-page .game-contents .game-info-panel button.other {
  height: auto;
  white-space: pre-wrap;
  display: inline-block;
  word-break: break-word;
}

.table-cell.cell-room-info .cell-game-type, div.table.my-open-game-table .table-row .table-cell.room-id {
  display: flex;
  align-items: center;
  
}


.contents_wrapper .chat_header {
  background-color: #33271e;
  padding: 20px;
  justify-content: center;
}

.contents_wrapper .chat_header a {
  align-self: center;
  color: white;
  font-size: 24px;
  position: absolute;
  left: 20px;
}

.contents_wrapper .chat_header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #f6b22a;
}

.contents_wrapper .chat_header .chat_header_username {
  background-color: white;
  padding: 3px 8px;
  align-self: center;
  margin-left: 10px;
  border-radius: 30px;
  font-size: 22px;
  font-weight: bold;
}

.contents_wrapper .chat_log_panel {
  padding: 20px;
  height: calc(100vh - 375px);
  overflow-y: auto;
  background-color: #F2F5F8;
  margin: 0 -15px;
}

.contents_wrapper .chat_log_panel .message_header {
  color: #434651;
  font-size: 14px;
}

.contents_wrapper .chat_log_panel .message_header .message_time {
  color: #a8aab1;
  padding: 0 10px;
}

.contents_wrapper .chat_log_panel .message_content {
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 60%;
  position: relative;
}

.contents_wrapper .chat_log_panel .my_message,
.contents_wrapper .chat_log_panel .other_message {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.contents_wrapper .chat_log_panel .my_message {
  align-items: flex-end;
}

.contents_wrapper .chat_log_panel .other_message .message_content {
  background-color: #c83228;
}

.contents_wrapper .chat_log_panel .other_message .message_content:after {
  left: 5%;
  border-bottom-color: #c83228;
}

.contents_wrapper .chat_log_panel .my_message .message_content {
  background-color: #f6b22a;
}

.contents_wrapper .chat_log_panel .my_message .message_content:after {
  border-bottom-color: #f6b22a;
  left: 92%;
}

.contents_wrapper .chat_log_panel .message_content:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-width: 10px;
}

.contents_wrapper .chat_log_panel .message_content { word-wrap: break-word; }

.contents_wrapper .chat_input_panel {
  bottom: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    margin-bottom: -20px !important;
}

.contents_wrapper .chat_input_panel .emoticon_panel {
  width: 10%;
  background: #fff;
}

.contents_wrapper .chat_input_panel .emoticon_panel span {
  width: 33.33%;
  font-size: 30px;
  text-align: right;
  float: left;
  margin-bottom: 2px;
  height: 42px;
  background: #fff;
}

.contents_wrapper .chat_input_panel textarea {
  width: 80%;
  border: 0;
  padding: 10px 10px;
  font-size: 35px;
  color: #555;
  resize: none;
}

.contents_wrapper .chat_input_panel .btn_send_message {
  color: #94C2ED;
  font-size: 46px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  background: #F2F5F8;
  width: 10%;
  height: 138px;
}

.btn_send_message:hover {
  color: #75b1e8;
}

.StripeElement {
  display: block;
  margin: 0 0 10px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.hidden {
  display: none;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* iPad Pro */
@media only screen and
(min-width: 1024px) and
(max-height: 1366px) and
(orientation: portrait) and
(-webkit-min-device-pixel-ratio: 1.5) {
  div.table.main-game-table .table-row .table-cell.cell-user-name {
        width: 34%;
        margin-left: 60px;
        margin-right: -60px;
  }

  .create-game-panel .btn-create-game {
    margin-right: 14px !important;
  }

  .create-game-panel .btn-create-game .game-type-name {
    font-size: 11px !important;
  }
 }


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
}
@media (max-width: 992px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
