.modal-body {
    background-color: white;
    color: #747f8d;
    padding: 48px 40px;
    width: 400px;
    max-width: 95vw;
    position: relative;
}
.modal-body.edit-modal-body {
    width: 700px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-body.edit-modal-body.terms-modal-body {
    width: 1000px;
}
.modal-body.edit-modal-body.deposit-modal-body {
    padding: 24px;
}
.modal-body.edit-modal-body::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
.modal-body.edit-modal-body::-webkit-scrollbar-track {
    background: transparent;
}
.modal-body.edit-modal-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #ff409a, #c438ef);
}
.modal-body button.btn-close {
    position: absolute;
    background: transparent;
    color: #747f8d;
    right: 24px;
    top: 24px;
    font-size: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
}
.modal-body h4 {
    font-size: 16px;
    font-weight: 500;
}
.modal-body h2 {
    font-size: 24px;
    font-weight: bold;
    color: #060607;
}
.modal-body h2.modal-title {
    font-size: 16px;
    margin: -24px auto 40px -16px;
}
.modal-body h5 {
    font-size: 16px;
    font-weight: normal;
    color: #060607;
}
.modal-body p {
    margin: 30px 0 5px;
    font-size: 12px;
}
.modal-body input {
    background: #f2f3f5;
    color: #060607;
    border: 0;
}
.modal-body .modal-action-panel {
    margin-top: 20px;
}
.modal-body .modal-action-panel button {
    height: 31px;
    background: transparent;
    color: #747f8d;
    border: 1px solid #d3d7db;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
    margin: 0 20px;
}
.modal-body button.btn-submit {
    margin: 50px 0 10px;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #ff409a, #c438ef);
    color: white;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
    border: 0;
}
.modal-body button.btn-back {
    margin: 10px 0 10px;
    width: 100%;
    height: 40px;
    background: transparent;
    color: #747f8d;
    border: 1px solid #d3d7db;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
}
.modal-body p button,
.modal-body p span {
    color: #060607 !important;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    font-size: 12px;
    height: 16px;
    padding: 0;
}
.modal-body p.has-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body p.has-forgot-password span {
    margin: 0;
}
.react-confirm-alert-overlay {
    background: rgba(47, 49, 54, 0.8) !important;
}
.react-confirm-alert .modal-body.alert-body {
    width: 400px;
    max-width: 95vw;
    padding: 32px 64px;
    text-align: center;
    border-radius: 4px;
}
.modal-body .modal-icon {
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 16px;
}
.modal-body.result-body h1 {
    font-size: 30px;
    font-weight: 700;
}
.modal-body.result-body .modal-icon {
    height: 100px;
}
.modal-body .modal-icon.alert-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox='0 0 72 72'%3E%3Ccircle cx='36' cy='36' r='36' fill='%23F2F3F5'/%3E%3Cpath fill='%23060607' fill-rule='evenodd' d='M13.5 29c0-4.695 3.805-8.5 8.5-8.5h24.664c4.694 0 8.5 3.805 8.5 8.5v5.538c.506.033 1.007.09 1.5.169v-5.708c0-5.522-4.477-9.999-10-9.999H22C16.477 19 12 23.477 12 29v13.96c0 4.623 3.748 8.371 8.372 8.371 3.17 0 6.07-1.791 7.488-4.628l.77-1.538h10.384c.182-.513.39-1.013.62-1.5H28.166c-.285 0-.544.16-.671.415l-.977 1.953c-1.164 2.328-3.543 3.798-6.146 3.798-3.795 0-6.872-3.077-6.872-6.872V29zm10.832-1.542v3.875h-3.874v1.5h3.875v3.874h1.5v-3.874h3.874v-1.5h-3.875v-3.875h-1.5zm14.624 8.458h3.084v-1.5h-3.084v1.5zm6.167-6.167h3.083v-1.5h-3.083v1.5z' clip-rule='evenodd'/%3E%3Cpath fill='%23FFC632' fill-rule='evenodd' d='M50.54 35.292c-.574-.327-1.304-.128-1.631.445l-8.13 14.225-.072.144c-.062.147-.094.306-.094.466 0 .66.535 1.195 1.195 1.195h16.277c.208 0 .412-.054.593-.157.573-.328.772-1.057.444-1.63l-8.138-14.243c-.106-.185-.26-.339-.445-.445zm-2.934-.3c.739-1.291 2.385-1.74 3.677-1.002.418.239.764.585 1.003 1.003l8.139 14.242c.738 1.293.29 2.939-1.003 3.677-.407.233-.868.355-1.337.355H41.808c-1.489 0-2.695-1.206-2.695-2.695 0-.375.078-.745.229-1.086l.008-.018.008-.018.091-.18.01-.018.009-.017 8.138-14.242z' clip-rule='evenodd'/%3E%3Cpath stroke='%23FFC632' stroke-width='1.5' d='M49.871 40.155v6.592M49.871 47.689v1.883'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-icon.alert-icon-closed {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='72' fill='none' viewBox='0 0 73 72'%3E%3Ccircle cx='36.5' cy='36' r='36' fill='%23F2F3F5'/%3E%3Cpath fill='%23060607' fill-rule='evenodd' d='M14 29c0-4.695 3.805-8.5 8.5-8.5h24.664c4.694 0 8.5 3.805 8.5 8.5v5.538c.506.033 1.007.09 1.5.169v-5.708c0-5.522-4.477-9.999-10-9.999H22.5c-5.522 0-9.999 4.477-9.999 10v13.96c0 4.623 3.748 8.371 8.372 8.371 3.17 0 6.07-1.791 7.488-4.628l.77-1.538h10.384c.182-.513.39-1.013.62-1.5H28.666c-.285 0-.544.16-.671.415l-.977 1.953c-1.164 2.328-3.543 3.798-6.146 3.798-3.795 0-6.872-3.077-6.872-6.872V29zm10.832-1.542v3.875h-3.874v1.5h3.875v3.874h1.5v-3.874h3.874v-1.5h-3.875v-3.875h-1.5zm14.624 8.458h3.084v-1.5h-3.084v1.5zm6.167-6.167h3.083v-1.5h-3.083v1.5z' clip-rule='evenodd'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M43 43H62V49H43z'/%3E%3Cpath fill='%23D81719' d='M50.667 44.458c-.253 0-.459.215-.459.48v1.916c0 .264.206.48.459.48s.458-.216.458-.48v-1.917c0-.264-.205-.479-.458-.479zM60.292 44.458h-.459v2.875h.459c.253 0 .458-.215.458-.479v-1.917c0-.264-.205-.479-.458-.479z'/%3E%3Cpath fill='%23D81719' d='M61.667 38.708h-4.852l-3.444-3.6c.02-.076.046-.15.046-.233 0-.528-.412-.958-.917-.958-.505 0-.917.43-.917.958 0 .083.027.157.046.233l-3.444 3.6h-4.852c-1.01 0-1.833.86-1.833 1.917v10.542c0 1.057.822 1.916 1.833 1.916h18.334c1.01 0 1.833-.86 1.833-1.916V40.625c0-1.057-.822-1.917-1.833-1.917zm-16.959 8.625c.253 0 .459-.215.459-.479 0-.265.205-.48.458-.48s.458.215.458.48c0 .793-.616 1.438-1.375 1.438-.758 0-1.375-.645-1.375-1.438v-1.917c0-.792.617-1.437 1.375-1.437.759 0 1.375.645 1.375 1.437 0 .265-.205.48-.458.48s-.458-.215-.458-.48c0-.264-.206-.479-.459-.479s-.458.215-.458.48v1.916c0 .264.205.48.458.48zm4.125.959H47c-.253 0-.458-.215-.458-.48V43.98c0-.265.205-.48.458-.48s.458.215.458.48v3.354h1.375c.254 0 .459.215.459.48 0 .264-.205.479-.459.479zm3.209-1.438c0 .793-.617 1.438-1.375 1.438-.759 0-1.375-.645-1.375-1.438v-1.917c0-.792.616-1.437 1.375-1.437.758 0 1.375.645 1.375 1.437v1.917zm1.833-1.437c.758 0 1.375.644 1.375 1.437s-.617 1.438-1.375 1.438h-.917c-.253 0-.458-.215-.458-.48 0-.264.205-.479.458-.479h.917c.253 0 .458-.215.458-.479s-.205-.48-.458-.48c-.758 0-1.375-.644-1.375-1.437 0-.792.617-1.437 1.375-1.437h.917c.253 0 .458.214.458.48 0 .264-.205.478-.458.478h-.917c-.253 0-.458.215-.458.48 0 .264.205.479.458.479zm-4.394-6.709l2.796-2.922c.073.02.144.047.223.047.08 0 .15-.027.223-.047l2.796 2.922H49.48zm8.06 6.709c.254 0 .459.214.459.479s-.205.479-.458.479h-.917v.958H58c.253 0 .458.215.458.48 0 .264-.205.479-.458.479h-1.833c-.254 0-.459-.215-.459-.48V43.98c0-.265.205-.479.459-.479H58c.253 0 .458.214.458.48 0 .264-.205.478-.458.478h-1.375v.959h.917zm4.126 1.437c0 .793-.617 1.438-1.375 1.438h-.917c-.253 0-.458-.215-.458-.48V43.98c0-.265.205-.48.458-.48h.917c.758 0 1.375.646 1.375 1.438v1.917z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0H22V23H0z' transform='translate(41.5 32)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.modal-body .modal-icon.alert-icon-create {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox='0 0 72 72'%3E%3Ccircle cx='36' cy='36' r='36' fill='%23F2F3F5'/%3E%3Cpath fill='%23060607' fill-rule='evenodd' d='M13.5 29c0-4.695 3.805-8.5 8.5-8.5h24.664c4.694 0 8.5 3.805 8.5 8.5v5.538c.506.033 1.007.09 1.5.169v-5.708c0-5.522-4.477-9.999-10-9.999H22C16.477 19 12 23.477 12 29v13.96c0 4.623 3.748 8.371 8.372 8.371 3.17 0 6.07-1.791 7.488-4.628l.77-1.538h10.384c.182-.513.39-1.013.62-1.5H28.166c-.285 0-.544.16-.671.415l-.977 1.953c-1.164 2.328-3.543 3.798-6.146 3.798-3.795 0-6.872-3.077-6.872-6.872V29zm10.832-1.542v3.875h-3.874v1.5h3.875v3.874h1.5v-3.874h3.874v-1.5h-3.875v-3.875h-1.5zm14.624 8.458h3.084v-1.5h-3.084v1.5zm6.167-6.167h3.083v-1.5h-3.083v1.5z' clip-rule='evenodd'/%3E%3Cpath stroke='%23FFB000' stroke-width='1.5' d='M52.25 37L52.25 55M43.5 46.25L61.5 46.25'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-icon.result-icon-draw {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 406'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e6e7e8;%7D.cls-2%7Bfill:%23e5656c;%7D.cls-3%7Bfill:%23ed494c;%7D.cls-4%7Bfill:%23aa2128;%7D.cls-5%7Bfill:%23e8b468;%7D.cls-6%7Bfill:%23f9af32;%7D.cls-7%7Bfill:%237a592a;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Erps-draw%3C/title%3E%3Cellipse class='cls-1' cx='192' cy='341.13' rx='149.09' ry='21.58'/%3E%3Cpath class='cls-2' d='M55.44,161.17c20.39,77,52.86,78.08,52.86,78.08L156.62,48.7c-46.51-11.8-78.09-.64-78.09-.64s-20.72,78.58-23.4,92.28S55.44,161.17,55.44,161.17Z'/%3E%3Cpath class='cls-3' d='M225.58,85.35s-22.44-24.86-69-36.65h0c-35.55-9-63.87-5-78.09-.64l-5,19c2.87-.94,33.62-10.33,78.17,1L108.3,239.25S137.35,253.81,192,195.8c0,0,6-4.86,10.2-18.17S225.58,85.35,225.58,85.35Z'/%3E%3Cpath class='cls-4' d='M124.87,116.72a19.33,19.33,0,1,1-14-23.49A19.33,19.33,0,0,1,124.87,116.72Z'/%3E%3Ccircle class='cls-4' cx='169.79' cy='128.11' r='14' transform='translate(18.03 277.15) rotate(-81.52)'/%3E%3Cpath class='cls-4' d='M156.53,194c.67-9.13-4.84-18.44-11.61-24.19-13-11-41.61-13.82-50.85,3.68a20.82,20.82,0,0,0-1.52,16.27,16.87,16.87,0,0,0,11.78,11c3.89.89,7.93.22,11.92.27,8.81.1,17.2,3.68,25.95,4.69a15.76,15.76,0,0,0,6.2-.25C153.17,204,156.17,198.92,156.53,194Z'/%3E%3Cpath class='cls-5' d='M184.76,259.36c46,65.11,76.75,54.78,76.75,54.78L240.42,118.68C192.71,123.83,167,145.29,167,145.29s7.95,80.88,10.22,94.65S184.76,259.36,184.76,259.36Z'/%3E%3Cpath class='cls-6' d='M317.82,129s-29.69-15.47-77.4-10.33h0C204,122.62,178.53,136.43,167,145.29c.25,2.55,1,10.52,1.95,19.51,2.36-1.88,27.91-21.39,73.61-26.32l18.95,175.66s32.3,3.52,63.3-69.89c0,0,3.95-6.65,3.23-20.59S317.82,129,317.82,129Z'/%3E%3Cpath class='cls-7' d='M265,201.05s5.41-20.29,20.71-24c14-3.42,24,8.23,24,8.23s-15.56-3.73-27.13,1.74A50.64,50.64,0,0,0,265,201.05Z'/%3E%3Cpath class='cls-7' d='M227.63,210a10.86,10.86,0,0,0,2.84-6.25c.87-7.29-8.9-29.53-19-25.27-9.58,4.05-23.51,23.59-18.36,29.56C199.66,215.62,220,218.24,227.63,210Z'/%3E%3Cpath class='cls-7' d='M269.15,249.33c-13.75,14.75-37.68,14.48-45.56,13.95a2.18,2.18,0,0,0-.91,4.21c31.6,11.57,66.13-8.94,73.45-23.58C303.55,229.07,285.77,231.49,269.15,249.33Z'/%3E%3C/svg%3E");
}
.modal-body .modal-icon.result-icon-win {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 406'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e6e7e8;%7D.cls-2%7Bfill:%23e5656c;%7D.cls-3%7Bfill:%23ed494c;%7D.cls-4%7Bfill:%23aa2128;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Erps-win%3C/title%3E%3Cellipse class='cls-1' cx='192' cy='336.74' rx='147.71' ry='32.95'/%3E%3Cpath class='cls-2' d='M81.74,240.73c59.09,106.35,107.53,95.72,107.53,95.72V36.31c-73.26,0-115.8,28.36-115.8,28.36s-1.18,124.07,0,145.34S81.74,240.73,81.74,240.73Z'/%3E%3Cpath class='cls-3' d='M305.08,64.67S262.54,36.31,189.27,36.31h0c-56,0-95.92,18.79-115.81,28.36,0,3.91-.13,16.13-.23,29.93,3.9-2.46,45.87-27.89,116-27.89V336.45s48.45,10.63,107.53-95.72c0,0,7.09-9.45,8.28-30.72S305.08,64.67,305.08,64.67Z'/%3E%3Cpath class='cls-4' d='M158.08,136.45a16.7,16.7,0,0,0-30.67-9.18,16.7,16.7,0,0,0-30.67,9.18s-1.65,25.11,30.67,40.45C159.72,161.56,158.08,136.45,158.08,136.45Z'/%3E%3Cpath class='cls-4' d='M282.73,136.45a16.7,16.7,0,0,0-30.67-9.18,16.7,16.7,0,0,0-30.67,9.18s-1.65,25.11,30.67,40.45C284.38,161.56,282.73,136.45,282.73,136.45Z'/%3E%3Cpath class='cls-4' d='M189.27,233c-31.13,0-58.49-27.36-58.49-27.36,16,26.42,11.32,36.8,18.87,57.55S189.27,284,189.27,284s32.08,0,39.63-20.76,2.83-31.13,18.87-57.55C247.77,205.65,220.41,233,189.27,233Z'/%3E%3C/svg%3E");
}
.modal-body .modal-icon.result-icon-lost {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 406'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e6e7e8;%7D.cls-2%7Bfill:%23e8b467;%7D.cls-3%7Bfill:%23f8af33;%7D.cls-4%7Bfill:%237a592a;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Erps-lose%3C/title%3E%3Cellipse class='cls-1' cx='192' cy='333.18' rx='143.78' ry='32.07'/%3E%3Cpath class='cls-2' d='M87.46,239.73C145,343.25,192.13,332.89,192.13,332.89V40.75c-71.31,0-112.72,27.6-112.72,27.6s-1.15,120.77,0,141.47S87.46,239.73,87.46,239.73Z'/%3E%3Cpath class='cls-3' d='M304.85,68.35s-41.41-27.6-112.72-27.6h0C137.62,40.75,98.76,59,79.4,68.35c0,3.81-.13,15.71-.22,29.14,3.79-2.4,44.65-27.15,113-27.15V332.89s47.16,10.36,104.67-93.16c0,0,6.9-9.2,8.05-29.91S304.85,68.35,304.85,68.35Z'/%3E%3Cpath class='cls-4' d='M96,166.38s11.3-29,34.42-31.92c21.22-2.72,34,16,34,16s-22.28-8-40.2-1.89A74.91,74.91,0,0,0,96,166.38Z'/%3E%3Cpath class='cls-4' d='M283.89,166.36s-11.24-29.11-34.43-32.17c-21.29-2.81-34.15,16-34.15,16s22.4-8,40.36-1.75A75,75,0,0,1,283.89,166.36Z'/%3E%3Cpath class='cls-4' d='M248.63,264.22S201.06,206,135.19,264c0,0,17.84-42.94,56.8-42.87S248.63,264.22,248.63,264.22Z'/%3E%3C/svg%3E");
}
.modal-body .modal-icon.result-icon-password {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eprivate-icon-black%3C/title%3E%3Cpath class='cls-1' d='M2.25,14.82A7.08,7.08,0,0,1,9.32,7.75H30.18a7.08,7.08,0,0,1,7.07,7.07V21a8,8,0,0,1,1.5,1.74V14.82a8.57,8.57,0,0,0-8.57-8.57H9.32A8.57,8.57,0,0,0,.75,14.82V26.63a7.19,7.19,0,0,0,13.63,3.21L15,28.61h9.16a8.3,8.3,0,0,1-.16-1.5H14.54a.76.76,0,0,0-.68.41L13,29.17A5.7,5.7,0,0,1,2.25,26.63Zm8.93-1.3v3.16H8v1.5h3.16v3.16h1.5V18.18h3.16v-1.5H12.68V13.52Zm12.48,7.27h2.61v-1.5H23.66v1.5Zm5.22-5.22h2.6v-1.5h-2.6Z'/%3E%3Cpath d='M32.69,21.14h-.37a5,5,0,0,0-5,5v2.21h-.88a.5.5,0,0,0-.5.5v9.58a.5.5,0,0,0,.5.5H38.59a.5.5,0,0,0,.5-.5V28.87a.5.5,0,0,0-.5-.5h-.88V26.16A5,5,0,0,0,32.69,21.14Zm-4.39,5a4,4,0,0,1,4-4h.37a4,4,0,0,1,4,4v2.21H28.3Zm9.79,11.78H26.92V29.37H38.09Z'/%3E%3Cpath d='M32.5,31.44a2.22,2.22,0,1,0,2.22,2.22A2.22,2.22,0,0,0,32.5,31.44Zm0,3.43a1.22,1.22,0,1,1,1.22-1.21A1.21,1.21,0,0,1,32.5,34.87Z'/%3E%3C/svg%3E");
}
.modal-body.alert-body button.btn-close {
    top: 16px;
    right: 16px;
}
.modal-body .edit-avatar-panel {
    display: flex;
}
.modal-body .edit-avatar-panel img.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.modal-body .modal-edit-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-top: 40px;
}
.modal-body .modal-edit-panel p {
    margin-top: 0;
}
.modal-body.edit-modal-body .modal-action-panel {
    margin-top: 40px;
    text-align: right;
}
.modal-body.edit-modal-body .modal-action-panel button.btn-submit,
.modal-body.edit-modal-body .modal-action-panel button.btn-back, 
.modal-body.alert-body .modal-action-panel button.btn-submit,
.modal-body.alert-body .modal-action-panel button.btn-back {
    width: auto;
    margin: 0 0 0 16px;
}
.modal-body .modal-content-wrapper {
    background: #F2F3F5;
    margin-bottom: 30px;
    border-radius: 4px;
    padding-bottom: 16px;
}
.modal-body .modal-content-wrapper h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    background-color: rgba(216,23,25, 0.2);
    color: #060607;
    padding: 0 24px 0 60px;
    border-radius: 8px 8px 0 0;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 18px center;
}
.modal-body .modal-content-wrapper.quick-shoot h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Ccircle cx='27.542' cy='21.383' r='12' stroke='%23060607' stroke-width='1.5' transform='rotate(8.444 27.542 21.383)'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M16.67 25.91l5.603 2.02 3.06-3.59 4.452.662 2.07-3.737 4.104-.402 2.949 3.976M15.774 21.733l4.927-3.64 3.81 1.576 3.829-1.959.587-3.956 5.077-2.457'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M25.175 9.48l3.752 4.274-.587 3.956 3.516 3.555 4.103-.402 1.982-5.444M36.763 29.07l-5.093.255-1.885-4.323-4.451-.661-.823-4.672-3.81-1.576-.418-6.306M29.105 32.988l2.566-3.663M22.273 27.93l1.813 4.819'/%3E%3Cpath stroke='%23060607' stroke-linecap='round' stroke-width='1.5' d='M15.828 24.774L7.4 31.156M15.405 30.2l-8.032 5.956M22.996 32.041l-7.23 5.36M14.16 38.593l-.402.298'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-content-wrapper.classic-rps h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M19.098 24.03l-.422-.62c-.274.186-.453.486-.484.819l-.052.525h0c-.086.88.271 1.74.955 2.3.27.221.579.385.915.486h0l7.692 2.304.464.917c-.28.193-.531.425-.75.692-1.301 1.59-1.066 3.941.524 5.243 1.59 1.301 3.942 1.067 5.244-.524 1.273-1.556 1.076-3.84-.422-5.157 1.563 1.092 3.724.957 5.005-.451l.002-.003c.042-.047.085-.096.127-.148.691-.844.977-1.935.784-3.015-.205-1.15-.93-2.121-1.972-2.664-1.244-.648-2.772-.522-3.902.316h0c-.54.402-.952.92-1.208 1.516l-.99-.273-3.78-7.085h0c-.165-.31-.387-.579-.657-.8-.684-.56-1.599-.74-2.444-.481h0l-.504.154h-.002c-.316.097-.576.329-.705.636-.129.304-.117.65.032.945 0 0 0 0 0 0l2.593 5.121-5.533-1.527s0 0 0 0c-.32-.09-.663-.032-.936.156l.426.618zm0 0c.09-.062.203-.081.31-.052l-.47.322c.01-.109.069-.208.16-.27zm13.946 6.261c1.296 1.016 3.127.913 4.168-.232.036-.04.07-.08.104-.12.552-.676.78-1.545.626-2.409l-4.898 2.761zm-2.173 3.989c-.257.314-.724.36-1.038.103-.315-.257-.361-.724-.104-1.038.257-.314.724-.361 1.038-.104.315.258.361.724.104 1.039zm-1.674-6.177l.002-.002h.006l.002.004s0 0 0 0 0 .001 0 0v.005s-.001 0 0 0h-.001s-.001.002-.003.002h-.001-.004l-.001-.002-.001-.002c-.001 0 0-.001 0 0v-.002-.003s0 0 0 0zm6.386.419c-.257.314-.724.361-1.039.104-.314-.258-.36-.724-.103-1.039.257-.314.724-.36 1.038-.104.315.258.361.725.104 1.039z'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M24.9 36.812h-14c-1.105 0-2-.895-2-2V11.5c0-1.105.895-2 2-2h13.07c1.105 0 2 .895 2 2v1.69c0 1.105.895 2 2 2h1.69c1.105 0 2 .896 2 2v5.31'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-content-wrapper.mystery-box h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Cpath stroke='%23060607' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M14.57 25.935c-.414 0-.75.336-.75.75V37.5c0 .967.784 1.75 1.75 1.75h17.334c.966 0 1.75-.783 1.75-1.75V26.685c0-.414-.336-.75-.75-.75H14.57z'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M16.345 31.142l-1.771-4.78H33.9l-1.77 4.78c-.037.098-.13.163-.235.163H16.579c-.104 0-.198-.065-.234-.163z'/%3E%3Cpath fill='%23060607' d='M8.62 31.58c-.263.321-.216.794.105 1.056.32.262.793.215 1.055-.105l-1.16-.95zm5.994-4.957c.262-.32.215-.793-.106-1.055-.32-.263-.793-.215-1.055.105l1.16.95zM9.78 32.531l4.834-5.908-1.161-.95-4.834 5.908 1.161.95zM39.854 31.58c.263.321.215.794-.105 1.056s-.793.215-1.056-.105l1.161-.95zm-5.994-4.957c-.262-.32-.215-.793.106-1.055.32-.263.793-.215 1.055.105l-1.16.95zm4.834 5.908l-4.834-5.908 1.161-.95 4.833 5.908-1.16.95z'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M30.923 26.148c1.837-1.76 2.98-4.237 2.98-6.981 0-5.34-4.327-9.667-9.666-9.667s-9.667 4.328-9.667 9.667c0 2.744 1.144 5.221 2.98 6.981'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M23.93 20.51v-1.88h.614c1.017 0 1.841-.842 1.841-1.88v-.125c0-.97-.77-1.755-1.718-1.755h-.737c-1.017 0-1.841.842-1.841 1.88m1.227 5.639h1.228'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-content-wrapper.spleesh h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M23.62 27.363v-.92c0-.996.506-1.907 1.31-2.353.802-.445 1.309-1.372 1.309-2.368 0-1.49-1.087-2.722-2.428-2.722h-.136c-.874 0-1.713.386-2.33 1.072l-.345.382m2.62 8v1.454'/%3E%3Crect width='18.5' height='26.5' x='14.75' y='10.75' stroke='%23060607' stroke-width='1.5' rx='1.25'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M15.064 16l-4.615.951c-1.07.22-1.747 1.256-1.523 2.325l3.198 15.237c.186.887 1.037 1.486 1.936 1.364v0l.802-.108M32.936 16l4.615.951c1.07.22 1.747 1.256 1.523 2.325l-3.198 15.237c-.186.887-1.037 1.486-1.936 1.364v0l-.802-.108'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-content-wrapper.brain-game h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M35.242 21.282c0 1.512-.316 2.97-.94 4.338-.954 2.088-1.182 4.275-.65 6.333l.7 2.721c.06.223-.076.454-.304.508L21.31 38.487c-.034.009-.072.013-.105.013-.186 0-.35-.118-.405-.302l-.929-3.142-4.038-.088c-.933-.02-1.688-.79-1.688-1.717V28.9h-1.308c-.283 0-.54-.14-.696-.37-.156-.231-.182-.525-.076-.781l2.165-5.14c-.494-3.628 1.007-7.136 3.666-9.374 1.361-1.146 3.026-1.958 4.883-2.284'/%3E%3Cpath stroke='%23060607' stroke-width='1.5' d='M33.596 12.91h0v.004c.135 1.1-.271 2.229-1.069 3.007h0l-.007.007c-.712.712-1.16 1.674-1.22 2.688h-2.527c-.067-1.032-.539-2.008-1.27-2.716-1.026-1.029-1.337-2.56-.792-3.924.54-1.352 1.856-2.226 3.314-2.226.177 0 .309.001.41.016l.01.001.009.001c1.648.194 2.948 1.494 3.142 3.142z'/%3E%3Cmask id='sp62pc8n8a' fill='%23060607'%3E%3Cpath d='M30.025 22.696c.422 0 .797-.258.938-.68h-1.9c.141.422.54.68.962.68z'/%3E%3C/mask%3E%3Cpath fill='%23060607' d='M30.963 22.016l1.423.475.658-1.975h-2.08v1.5zm-1.9 0v-1.5h-2.08l.657 1.975 1.424-.475zm.962 2.18c1.057 0 2.013-.66 2.361-1.705l-2.846-.95c.03-.087.092-.179.188-.247.093-.067.2-.098.297-.098v3zm.938-3.68h-1.9v3h1.9v-3zm-3.323 1.975c.361 1.082 1.37 1.705 2.385 1.705v-3c.172 0 .382.108.462.346l-2.846.949z' mask='url(%23sp62pc8n8a)'/%3E%3Cmask id='znpqfj4jnb' fill='%23060607'%3E%3Cpath d='M28.337 21.031c0 .188.14.329.329.329h2.673c.188 0 .328-.141.328-.329v-1.008h-3.33v1.008z'/%3E%3C/mask%3E%3Cpath fill='%23060607' d='M31.667 20.023h1.5v-1.5h-1.5v1.5zm-3.33 0v-1.5h-1.5v1.5h1.5zm-1.5 1.008c0 1.016.812 1.829 1.829 1.829v-3c.29 0 .594.114.826.345.231.232.345.535.345.826h-3zm1.829 1.829h2.673v-3h-2.673v3zm2.673 0c1.016 0 1.828-.813 1.828-1.829h-3c0-.291.114-.594.346-.826.231-.231.535-.345.826-.345v3zm1.828-1.829v-1.008h-3v1.008h3zm-1.5-2.508h-3.33v3h3.33v-3zm-4.83 1.5v1.008h3v-1.008h-3z' mask='url(%23znpqfj4jnb)'/%3E%3C/svg%3E%0A");
}
.modal-body .modal-content-wrapper div.modal-content-panel {
    padding: 0 24px;
}
.modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel p {
    margin-top: initial;
    margin-left: 24px;
    font-size: 14px;
}
.modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel ol {
    margin-left: 36px;
    font-size: 14px;
}
.modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper {
    padding: 0;
    margin-bottom: 0;
}
.modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper div.modal-content-panel {
    padding: 24px;
}
.modal-body .modal-content-wrapper div.modal-content-panel p {
    margin-top: initial;
}
.modal-body .modal-content-wrapper div.modal-content-panel input {
    background-color: white;
}
.modal-body.edit-modal-body.deposit-modal-body h2 {
    font-size: 16px;
}
.modal-body .payment-action-panel {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}
.modal-body .payment-action-panel button.btn-stripe-pay {
    width: 100%;
}
.modal-body .withdraw-modal-tabs {
    margin-top: 40px;
}
.modal-body .withdraw-modal-tabs button {
    background-color: transparent;
    color: #747f8d;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    height: 40px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
    border-radius: 4px 4px 0 0;
}
.modal-body .withdraw-modal-tabs button.active {
    background-color: #f2f3f5;
    color: #060607;
    border-color: #eb3db8;
}
.modal-body .withdraw-modal-tabs button.btn-paypal {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23747F8D' stroke-linejoin='round' d='M5 17h4l1-4h1.795c1.928 0 3.653-1.196 4.33-3.001C17.032 7.58 15.245 5 12.661 5H8L5 17z'/%3E%3Cpath stroke='%23747F8D' stroke-linejoin='round' d='M8.5 19h4l1-3.5h1.577c1.477 0 2.82-.859 3.438-2.2.927-2.008-.54-4.3-2.75-4.3H11L8.5 19z'/%3E%3C/svg%3E%0A");
}
.modal-body .withdraw-modal-tabs button.btn-bank {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23747F8D' d='M12.5 5l.224-.447c-.141-.07-.307-.07-.448 0L12.5 5zM5 19.5h15v-1H5v1zm7.276-14.947l-6 3 .448.894 6-3-.448-.894zM5 10.5h15v-1H5v1zm13.724-2.947l-6-3-.448.894 6 3 .448-.894zM10 12.5v4h1v-4h-1zm4 0v4h1v-4h-1zM6 10v9h1v-9H6zm12 0v9h1v-9h-1z'/%3E%3C/svg%3E%0A");
}
.modal-body .withdraw-modal-tabs button.active.btn-paypal {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23060607' stroke-linejoin='round' d='M5 17h4l1-4h1.795c1.928 0 3.653-1.196 4.33-3.001C17.032 7.58 15.245 5 12.661 5H8L5 17z'/%3E%3Cpath stroke='%23060607' stroke-linejoin='round' d='M8.5 19h4l1-3.5h1.577c1.477 0 2.82-.859 3.438-2.2.927-2.008-.54-4.3-2.75-4.3H11L8.5 19z'/%3E%3C/svg%3E%0A");
}
.modal-body .withdraw-modal-tabs button.active.btn-bank {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23060607' d='M12.5 5l.224-.447c-.141-.07-.307-.07-.448 0L12.5 5zM5 19.5h15v-1H5v1zm7.276-14.947l-6 3 .448.894 6-3-.448-.894zM5 10.5h15v-1H5v1zm13.724-2.947l-6-3-.448.894 6 3 .448-.894zM10 12.5v4h1v-4h-1zm4 0v4h1v-4h-1zM6 10v9h1v-9H6zm12 0v9h1v-9h-1z'/%3E%3C/svg%3E%0A");
}
.modal-body.password-modal-body h5 {
    text-align: center;
}
@media (max-width: 768px) {
    .modal-body p.sm-text-center {
        text-align: center;
    }
    .modal-body.edit-modal-body {
        padding: 16px 16px 32px;
    }
    .modal-body h2.modal-title {
        margin: 0;
    }
    .modal-body.edit-modal-body button.btn-close {
        top: 16px;
        right: 16px;
    }
    .modal-body .modal-edit-panel {
        grid-template-columns: 1fr;
    }
    .modal-body .modal-content-wrapper h4 {
        padding: 0 16px 0 50px;
        background-position: 8px center;
    }
    .modal-body .modal-content-wrapper div.modal-content-panel {
        padding: 0 16px;
    }
    .modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel ol {
        margin-left: 20px;
    }
    .modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel p {
        margin-left: 8px;
    }
    .modal-body .payment-action-panel {
        grid-template-columns: 1fr;
    }
    .modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper div.modal-content-panel {
        padding: 16px;
    }
    .modal-body.edit-modal-body.deposit-modal-body .modal-action-panel{
        display: flex;
        justify-content: space-between;
    }
    .modal-body.alert-body .modal-action-panel {
        display: flex;
        justify-content: center;
    }
    .react-confirm-alert .modal-body.alert-body.confirm-body {
        padding: 32px;
    }
    .modal-body.edit-modal-body .modal-action-panel button.btn-submit, 
    .modal-body.edit-modal-body .modal-action-panel button.btn-back {
        padding: 0 15px;
        margin: 0;
    }
    .modal-body.alert-body .modal-action-panel button.btn-submit, 
    .modal-body.alert-body .modal-action-panel button.btn-back {
        margin: 0 15px;
    }
}