.modal-body {
    background-color: white;
    color: #747f8d;
    padding: 48px 40px;
    width: 400px;
    max-width: 95vw;
    position: relative;
}
.modal-body.edit-modal-body {
    width: 700px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-body.edit-modal-body.terms-modal-body {
    width: 1000px;
}
.modal-body.edit-modal-body.deposit-modal-body {
    width: 400px;
    padding: 24px;
}
.modal-body.edit-modal-body::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
.modal-body.edit-modal-body::-webkit-scrollbar-track {
    background: transparent;
}
.modal-body.edit-modal-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #ff409a, #c438ef);
}
.modal-body button.btn-close {
    position: absolute;
    background: transparent;
    color: #747f8d;
    right: 24px;
    top: 24px;
    font-size: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
}
.modal-body h4 {
    font-size: 16px;
    font-weight: 500;
}
.modal-body h2 {
    font-size: 24px;
    font-weight: bold;
    color: #060607;
}
.modal-body h2.modal-title {
    font-size: 16px;
    text-transform: uppercase;
    margin: -24px auto 40px -16px;
}
.modal-body h5 {
    font-size: 16px;
    font-weight: normal;
    color: #060607;
}
.modal-body p {
    margin: 30px 0 5px;
    font-size: 12px;
}
.modal-body input {
    background: #f2f3f5;
    color: #060607;
    border: 0;
}
.modal-body .modal-action-panel {
    margin-top: 20px;
}
.modal-body .modal-action-panel button {
    height: 31px;
    background: transparent;
    color: #747f8d;
    border: 1px solid #d3d7db;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
    margin: 0 20px;
}
.modal-body button.btn-submit {
    margin: 50px 0 10px;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #ff409a, #c438ef);
    color: white;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
    border: 0;
}
.modal-body button.btn-back {
    margin: 10px 0 10px;
    width: 100%;
    height: 40px;
    background: transparent;
    color: #747f8d;
    border: 1px solid #d3d7db;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
}
.modal-body p button,
.modal-body p span {
    color: #060607 !important;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    font-size: 12px;
    height: 16px;
    padding: 0;
}
.modal-body p.has-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body p.has-forgot-password span {
    margin: 0;
}
.react-confirm-alert-overlay {
    background: rgba(47, 49, 54, 0.8) !important;
}
.react-confirm-alert .modal-body.alert-body {
    width: 400px;
    max-width: 95vw;
    padding: 32px 64px;
    text-align: center;
    border-radius: 4px;
}
.modal-body .modal-icon {
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 16px;
}
.modal-body.result-body h1 {
    font-size: 30px;
    font-weight: 700;
}
.modal-body.result-body .modal-icon {
    height: 100px;
}
.modal-body .modal-icon.alert-icon {
    background-image: url("/img/icons/alert-icon.svg");
}
.modal-body .modal-icon.alert-icon-closed {
    background-image: url("/img/icons/alert-icon-closed.svg");
}
.modal-body .modal-icon.alert-icon-create {
    background-image: url("/img/icons/alert-icon-create.svg");
}
.modal-body .modal-icon.result-icon-draw {
    background-image: url("/img/icons/result-icon-draw.svg");
}
.modal-body .modal-icon.result-icon-win {
    background-image: url("/img/icons/result-icon-win.svg");
}
.modal-body .modal-icon.result-icon-lost {
    background-image: url("/img/icons/result-icon-lost.svg");
}
.modal-body .modal-icon.result-icon-password {
    background-image: url("/img/icons/result-icon-password.svg");
}
.modal-body.alert-body button.btn-close {
    top: 16px;
    right: 16px;
}
.modal-body .edit-avatar-panel {
    display: flex;
}
.modal-body .edit-avatar-panel img.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.modal-body .modal-edit-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-top: 40px;
}
.modal-body .modal-edit-panel p {
    margin-top: 0;
}
.modal-body.edit-modal-body .modal-action-panel {
    margin-top: 40px;
    text-align: right;
}
.modal-body.edit-modal-body .modal-action-panel button.btn-submit,
.modal-body.edit-modal-body .modal-action-panel button.btn-back, 
.modal-body.alert-body .modal-action-panel button.btn-submit,
.modal-body.alert-body .modal-action-panel button.btn-back {
    width: auto;
    margin: 0 0 0 16px;
}
.modal-body .modal-content-wrapper h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    background-color: rgb(84 84 84);
    padding: 0 24px 0 60px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 18px center;
    margin: 0 !important;
}
.modal-body .modal-content-wrapper.quick-shoot h4 {
    background-image: url("/img/icons/modal-quick-shoot.svg");
}
.modal-body .modal-content-wrapper.rps h4 {
    background-image: url("/img/icons/modal-rps.svg");
}
.modal-body .modal-content-wrapper.mystery-box h4 {
    background-image: url("/img/icons/modal-mystery-box.svg");
}
.modal-body .modal-content-wrapper.spleesh h4 {
    background-image: url("/img/icons/modal-spleesh.svg");
}
.modal-body .modal-content-wrapper.brain-game h4 {
    background-image: url("/img/icons/modal-brain-game.svg");
}
.modal-body .modal-content-wrapper.house-edge h4 {
    background-image: url("/img/icons/modal-house-edge.svg");
    background-size: 27px;
    background-position: 4% center;
}
.modal-body .modal-content-wrapper.provably-fair h4 {
    background-image: url("/img/icons/modal-provably-fair.svg");
    background-size: 28px;
    background-position: 4% center;
}
.modal-body .modal-content-wrapper.support h4 {
    background-image: url("/img/icons/modal-support.svg");
    background-size: 25px;
    background-position: 4% center;
}
.modal-body .modal-content-wrapper div.modal-content-panel {
    padding: 20px 24px;
}
.modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel p {
    margin-top: initial;
    margin-left: 24px;
    font-size: 14px;
}
.modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel ol {
    margin-left: 36px;
    font-size: 14px;
}
.modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper {
    padding: 0;
    margin-bottom: 0;
}
.modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper div.modal-content-panel {
    padding: 24px;
}
.modal-body .modal-content-wrapper div.modal-content-panel p {
    margin-top: initial;
}
.modal-body .modal-content-wrapper div.modal-content-panel input {
    background-color: white;
}
.modal-body.edit-modal-body.deposit-modal-body h2 {
    font-size: 16px;
}
.modal-body .payment-action-panel {
    margin-top: 10px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* column-gap: 30px; */
    /* row-gap: 10px; */
}
.modal-body .payment-action-panel button.btn-stripe-pay {
    width: 100%;
}
.modal-body .withdraw-modal-tabs {
    margin-top: 40px;
}
.modal-body .withdraw-modal-tabs button {
    background-color: transparent;
    color: #747f8d;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    height: 40px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
    border-radius: 4px 4px 0 0;
}
.modal-body .withdraw-modal-tabs button.active {
    background-color: #f2f3f5;
    color: #060607;
    border-color: #eb3db8;
}
.modal-body .withdraw-modal-tabs button.btn-paypal {
    background-image: url("/img/icons/btn-paypal.svg");
}
.modal-body .withdraw-modal-tabs button.btn-bank {
    background-image: url("/img/icons/btn-bank.svg");
}
.modal-body .withdraw-modal-tabs button.active.btn-paypal {
    background-image: url("/img/icons/btn-paypal-active.svg");
}
.modal-body .withdraw-modal-tabs button.active.btn-bank {
    background-image: url("/img/icons/btn-bank-active.svg");
}
.modal-body.password-modal-body h5 {
    text-align: center;
}
@media (max-width: 768px) {
    .accordion {
      margin-top: 15px;
    }

    .modal-body p.sm-text-center {
        text-align: center;
    }
    .modal-body.edit-modal-body {
        padding: 16px 16px 32px;
    }
    .modal-body h2.modal-title {
        margin: 0;
    }
    .modal-body.edit-modal-body button.btn-close {
        top: 16px;
        right: 16px;
    }
    .modal-body .modal-edit-panel {
        grid-template-columns: 1fr;
    }
    .modal-body .modal-content-wrapper h4 {
        padding: 0 16px 0 50px;
        background-position: 8px center;
    }
    .modal-body .modal-content-wrapper div.modal-content-panel {
        padding: 16px 16px;
    }
    .modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel ol {
        margin-left: 20px;
    }
    .modal-body.how-to-play-modal-body .modal-content-wrapper div.modal-content-panel p {
        margin-left: 8px;
    }
    /* .modal-body .payment-action-panel {
        grid-template-columns: 1fr;
    } */
    .modal-body.edit-modal-body.deposit-modal-body .modal-content-wrapper div.modal-content-panel {
        padding: 16px;
    }
    .modal-body.edit-modal-body.deposit-modal-body .modal-action-panel{
        display: flex;
        justify-content: space-between;
    }
    .modal-body.alert-body .modal-action-panel {
        display: flex;
        justify-content: center;
    }
    .react-confirm-alert .modal-body.alert-body.confirm-body {
        padding: 32px;
    }
    .modal-body.edit-modal-body .modal-action-panel button.btn-submit, 
    .modal-body.edit-modal-body .modal-action-panel button.btn-back {
        padding: 0 15px;
        margin: 0;
    }
    .modal-body.alert-body .modal-action-panel button.btn-submit, 
    .modal-body.alert-body .modal-action-panel button.btn-back {
        margin: 0 15px;
    }
}