.chat-wrapper .chat-panel.global-chat {
    height:calc(100% - 90px);
    overflow-y: scroll;
    width: 270px;
}

.chat-wrapper .chat-input-panel {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
}

.chat-wrapper .chat-input-panel .emoticon-panel {
    display: none;
    position: absolute;
    font-size: 16px;
    bottom: 100%;
    left: 0;
    background-color: #f8f9fa;
    padding: 2px 5px;
    border-radius: 8px;
    max-width: 100%;
}

.chat-wrapper .chat-input-panel .emoticon-panel.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.6em;
    padding: 15px;
    z-index: 99;
}

.chat-wrapper .chat-input-panel .emoticon-panel > span {
    cursor: pointer;
    border: 2px solid transparent;
    width: 25px;
    height: 35px;
    line-height: 20px;
    text-align: center;
    font-size: 1.4em;
    display: inline-block;
}

#drawer-btn {
    position: fixed !important;
    right: 3rem;
    bottom: 3rem;
    z-index: 90;
    width: 56px;
    height: 56px !important;
    border-bottom: 3px solid #810059;
    border-top: 3px solid #fd5e9b;
    background-color: rgb(228 34 250);
}

#drawer-btn:active {
    border-bottom: 0px solid #810059;
    border-top: 1px solid #fa5091;
    transform: translateY(2px);
    background-color: rgb(215, 7, 238);
}

#drawer-btn:active svg{
    transform: translateY(0px) !important;
    filter: unset !important;

}

#drawer-btn:hover {
    filter: brightness(1.2);
    transition: filter 0.2s, box-shadow 0.2s;
    box-shadow: 0 3px 5px -1px #0003, 0 18px 10px #00000024, 0 1px 18px #0000001f;
}

#drawer-btn:hover svg{
    transform: translateY(-2px);
    transition: filter .2s;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.74));
    /* box-shadow: 0 3px 5px -1px #0003, 0 18px 10px #00000024, 0 1px 18px #0000001f; */
}

.mat-chat > div {
    border-right: none !important;
}

div.table.my-chat-table .table-row .table-cell:last-child {
    overflow: visible;
}

.mat-chat .chat-wrapper{
    background-color: #f9f9f9;
    padding-top: 43px;
    overflow: hidden;
    padding-bottom: 30px;
    width: 270px;

}
.chat-input-panel .form-control {
    margin-top: 0 !important;
}


.chat-wrapper .chat-input-panel .emoticon-panel > span:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.chat-wrapper .chat-input-panel button.btn-show-emoticon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none' viewBox='0 0 22 22'%3E%3Cpath fill='%23B9BBBE' d='M11 22c6.075 0 11-4.925 11-11S17.075 0 11 0 0 4.925 0 11s4.925 11 11 11z'/%3E%3Cpath fill='%2336393F' d='M6.426 14.435c.027.11.714 2.676 4.574 2.676s4.547-2.566 4.574-2.676c.034-.132-.026-.27-.145-.338s-.268-.048-.366.047c-.012.011-1.195 1.134-4.063 1.134-2.869 0-4.052-1.123-4.063-1.134-.058-.058-.137-.088-.215-.088-.051 0-.103.013-.15.039-.12.068-.18.207-.146.34zM7.333 10.389c.844 0 1.528-.958 1.528-2.139 0-1.181-.684-2.139-1.528-2.139-.843 0-1.527.958-1.527 2.139 0 1.181.684 2.139 1.527 2.139zM14.667 10.389c.844 0 1.528-.958 1.528-2.139 0-1.181-.684-2.139-1.528-2.139s-1.528.958-1.528 2.139c0 1.181.684 2.139 1.528 2.139z'/%3E%3C/svg%3E%0A");
}

@media (max-width: 1023px) {
    .chat-wrapper .chat-panel.global-chat {
        bottom: -50px !important;
    }
}

@media (max-width: 480px) {
    .chat-wrapper .chat-input-panel {
        border-top: 1px solid #111;
    }
    .chat-wrapper .chat-panel.global-chat {
        height: calc(90vh - 250px);
        width: unset;
    }
    

    .chat {
        width: 100vw;
    }
    .chat-wrapper .chat-input-panel .emoticon-panel.active {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0.7em;
        padding: 20px 6px;
    }
    .chat-wrapper .chat-input-panel .emoticon-panel {
        font-size: 19px;
    }
}