.game_header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    height: 62px;
    top: 0;
}
  
.game_header .main_header {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game_header .main_header a.game_logo {
    width: 100px;
    height: 34px;
    background-image: url("/img/game-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.game_header .main_header #btn_how_to_play {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    height: 20px;
    color: #747f8d;
    background-image: url("/img/icons/btn-how-to-play.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
}

.game_header .main_header span#balance {
    height: 32px;
    margin: 0 32px;
    padding: 0 16px;
    color: white;
    cursor: pointer;
    border-radius: 40px;;
    background: linear-gradient(to top, #ffb000, #d81719);
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
}

.game_header .main_header .header_action_panel {
    display: flex;
    align-items: center;
}

.game_header .main_header .header_action_panel button {
    color: #060607;
}

.game_header .main_header .header_action_panel img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.game_header .main_header .header_action_panel button#btn-login {
    height: 31px;
    background: transparent;
    color: #747f8d;
    border: 1px solid #d3d7db;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
    margin: 0 20px;
}

.game_header .main_header .header_action_panel button#btn-signup {
    height: 31px;
    background-image: linear-gradient(to top, #ff409a, #c438ef);
    color: white;
    border-radius: 40px;
    padding: 0 20px;
    font-weight: 600;
}

.dark_mode_toggle {
    margin: 10px;
}
  
.game_wrapper {
    z-index: 1;
    width: 100%;
}

.game_footer {
    background: linear-gradient(to bottom, #ff409a, #c438ef77);
    color: #f2f3f5;
    font-size: 14px;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}

.game_footer a {
    text-decoration: underline;
    color: #fff !important;
}

.contents_wrapper {
    height: calc(100vh - 62px);
    margin-top: 62px;
    overflow-y: auto;
    background-color: #f2f3f5;
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {
    .game_header .main_header {
        padding: 14px 16px;
    }
    .game_header .main_header a.game_logo {
        width: 64px;
        height: 24px;
        margin-right: 20px;
        background-image: url("/img/game-logo-mobile.svg");
    }
    .game_header .main_header #btn_how_to_play span {
        display: none;
    }
    .game_header .main_header span#balance {
        margin: 0;
    }
    .game_header .main_header .header_action_panel button span.username
    /* ,.game_header .main_header .header_action_panel button svg  */
    {
        display: none;
    }
    .contents_wrapper {
        height: initial;
        min-height: calc(100vh - 62px);
    }
}