.game_header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    height: 49px;
    top: 0;
}

a#btn_how_to_play {
    margin-right: 15px !important;
}

.input-wrapper {
    position: relative;
  }
  .input-suffix {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-30%);
  }

.pre-summary-panel {
    display: flex;
    overflow: hidden;
  }
  
  .pre-summary-panel__inner {
    display: flex;
    
    flex-wrap: nowrap;
    animation: ticker 45s linear infinite;
    pointer-events: none;
  }
  
  .data-item {
    margin-right: 0px !important;
    pointer-events: auto;
  }
  
  .mystery-box .data-item {
    margin-right:10px !important;

}
.spleesh .data-item {
    margin-right:20px !important;

}

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 10px));
    }
  }
  .countdown-timer {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #020202;
    overflow: hidden;
}



.countdown-bar {
    height: 100%;
    background: linear-gradient(to top, #ff409a, #c438ef);
    animation: countdown 1.5s linear;
}

@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}




  
.game_header .main_header {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game_header .main_header a.game_logo {
    width: 100px;
    height: 34px;
    background-image: url("/img/game-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.game_header .main_header #btn_leaderboards {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: #747f8d;
    margin-right: 32px;
}

.game_header .main_header #btn_leaderboards img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.table.main-game-table .table-row:hover {
transform: scale(0.99);
filter: brightness(1.09);
transition: 0.2s;
z-index: 999;
cursor: pointer;
}

.game_header .main_header #btn_how_to_play:hover {
    cursor: pointer;
    /* font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    height: 20px;
    color: #747f8d;
    background-image: url("/img/icons/btn-how-to-play.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px; */
}


#wallet-address {
    text-overflow: ellipsis;
    width: calc(100% - 10px);
    display: inline-block;
    direction: rtl;
}

#balance {
    height: 32px;
    padding: 0px 0px 32px 8px;
    color: #212529;
    line-height: 28px;
    cursor: pointer;
    border-radius: 0.25em;
    background: #e9ecef;
    font-size: 0.75em;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid #dee2e6;
}
#balance svg{
    color: #fff;
}

.game_header .main_header .header_action_panel {
    display: flex;
    align-items: center;
}

.game_header .main_header .header_action_panel button {
    color: #060607;
    margin-left: 10px;
}

.custom-tab {
    position: relative;
  }
  
  .custom-tab::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust the border height as needed */
    background-color: #c438ef; /* Use your desired color */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  
  .custom-tab:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0%);
  }
  

.chat-content .avatar {
    margin-bottom: 5px;
    margin-right: 5px !important;
}

.game_header .main_header .header_action_panel img.avatar,.chat-content .avatar {
    width: 30px;
    height: 30px;
    border-radius: 9px;
    margin-right: 6px;
    border: 2px solid #dc3ccd;
}

.game-page .pre-summary-panel > div.host-display-name {
    background-size: 2em;
}

.game_header .main_header .header_action_panel button#btn-login,
.game_header .main_header .header_action_panel button#btn-signup {
    height: 32px !important;
    
}

.dark_mode_toggle {
    margin: 10px;
}


div.table .table-row .table-cell img.avatar,
.game_header .main_header .header_action_panel img.avatar, .chat-content .avatar {
    background-color: rgb(21 21 21 / 60%);
}
ul[role=menu] li:hover {
    border-radius: 0 !important;
}

.btn-show-emoticon:hover {
    border-radius: 20px !important;
}

.room-history-panel,
.action-panel {
    padding: 20px 0;
}

.btn-back:hover,
.btn-send-message:hover {
    height: 40px;
}
.btn-send-message:hover {
    height: 31px !important;
}
.dark_mode_toggle:hover {
    /* border-radius: 20px !important; */
    box-shadow: unset !important;
}
  
.game_wrapper {
    z-index: 1;
    width: 100%;
}

.contents_wrapper {
    margin-top: 46px;
    overflow-y: auto;
    background-color: #f2f3f5;
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {

    div.table .dont-have-game-msg div {
        font-size: 0.75em;
        font-weight: 600;
    }
    .game_header {
        height: 62px;
    }
    .game_header .main_header {
        padding: 8px 16px;
    }
    .game_header .main_header a.game_logo {
        width: 64px;
        height: 24px;
        margin-right: 20px;
        background-image: url("/img/game-logo-mobile.svg");
    }
 
    .game_header .main_header #btn_how_to_play span {
        display: none;
    }
    .game_header .main_header span#balance {
        margin: 0;
    }
    .game_header .main_header .header_action_panel button span.username
    /* ,.game_header .main_header .header_action_panel button svg  */
    {
        display: none;
    }
    .contents_wrapper {
        height: initial;
    }
}
.atag{
    text-decoration: underline  !important;
    color: aqua !important;
}
.availabletag {
    float: right;
    font-size: 12px;
    margin-bottom: 2px;
    margin-right: 5px;
    color: #444;
}
.availabletag span{
    text-decoration: underline !important;
    color: aqua !important;
}